.title {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.image {
  width: 15%;
}

.menus {
  color: #000;
  font-weight: 450;
}

.menus:hover {
  color: #00a5af !important;
}

.nav-active {
  color: #00a5af !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card-users {
  width: 50rem;
  background-color: #fff;
}
